/* begin setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* end setup */

/* stripping styles */
h1, h2, h3, h4, p, li, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Base fonts */

html {
    font-size: 62.5%;
    font-family: 'Forum', serif;
}

body {
    font-size: 1.8rem;
}


/* wrapper */

.wrapper {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, header, footer {
    font-family: 'Turret Road', cursive;
}

header, footer {
    text-shadow: 2px 2px 0 red;
    background: black;
    text-align: center;
    padding: 2rem;
    color: white;
}

a,
a {
    font-weight: bold;
    color: white;
    font-style: italic;
    transition: 0.3s;
    border-bottom: 2px black solid;
}

a:hover,
a:focus,
a:hover,
a:focus {
    border-color: red;
}

footer {
    border-top: darkred 4px solid;
}

header {
    border-bottom: darkred 4px solid;
}

h2 {
    border-bottom: white 2px solid;
    margin-bottom: 1rem;
}

body {
    background: #400;
    background: radial-gradient(#400,#000);
    background-attachment: fixed;
}

.box {
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    background: black;
    border: darkred 4px solid;
    transition: 0.5s;
}

.warning {
    color: red;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

form {
    width: 50%;
    min-width: 360px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;
}

form div label {
    font-weight: bold;
    padding-right: 1rem;
}

form input[type='text'],
form input[type='submit'],
form select {
    width: 50%;
    font-family: 'Forum', serif;
    border-radius: 5px;
    background: black;
    color: white;
    border: 2px darkred solid;
    transition: 0.3s;
}

form input[type='submit'],
form select {
    text-transform: capitalize;
}

form input[type='submit']:hover,
form input[type='submit']:focus {
    border-color: red;
    box-shadow: 0 0 8px red;
}

form input:disabled,
form select:disabled {
    border-color: gray;
}

form .radioDiv {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.wad-item p {
    margin: 1rem 0;
}

.wad-details {
    flex-grow:1;
    max-width: calc(100% - 200px - 2rem);
    overflow-x: hidden;
}

.ascDesc {
    display: flex;
    justify-content: center;
}

.info-item {
    font-weight: bolder;
}

.do-fade-in {
    animation-duration: 1s;
    animation-name: fadein;
}

.text-file {
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1.4rem;
    border: 0px black solid;
    padding: 0rem;
    scrollbar-color: red black;
    height: 0px;
    /* display: none; */
    visibility: hidden;
    transition: 1s;
    text-align: center;
}

.text-open {
    overflow-y: scroll;
    border: 1px red solid;
    padding: 0.5rem;
    height: 480px;
    visibility: visible;
}

pre {
    display: inline-block;
    text-align: left;
    white-space: pre-wrap;
}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.gallery .img-container {
    width: calc(33% - 2rem);
    margin: 0 1rem;
}

img {
    width: 100%;
    height: auto;
}

/* Beer pairing */
.beer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex-basis: 25%;
    min-width: 200px;
    margin-left: 2rem;
}

.beer .img-container {
    margin: 1rem 0;
}

.detailsBeerContainer {
    display: flex;
    justify-content: stretch;
    /* justify-content: center; */
}

.review {
    padding: 1rem;
    margin: 1rem 0;
    background: #400;
    background: radial-gradient(#000, #400);
}

/* .reviews {
    } */

.scrollbox {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-color: red black;
    margin: 0.5rem 0;
}

.scrollbox a {
    border: 2px solid black;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wad-item:hover,
.wad-item:focus-within {
    border-color: red;
}

.hide {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}

@media (max-width: 800px) {
    .gallery .img-container {
        width: calc(50% - 2rem);
    }
}

@media (max-width:650px) {
    .detailsBeerContainer {
        flex-direction: column;
    }
    .wad-details {
        max-width: 100%;
    }
    .beer {
        margin-left: 0;
        min-width: 100%;
    }
}

@media (max-width: 500px) {
    .gallery .img-container {
        width: calc(100%);
    }
    form {
        width: 100%;
        min-width: 100%;
    }
    form > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ascDesc {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .radioDiv {
        width: 100%;
    }
}